In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("train.txt")
result_flat=pd.read_csv("flattened.csv", index_col=0)

In [ ]:
df.head(22)

In [ ]:
col_names=["id"]+["timestamp"]+[f's{i}' for i in range(1, 26)]
row_1=df.columns
row_1=pd.DataFrame(row_1.T)

In [ ]:
df.columns=col_names

In [ ]:
df.head()

In [ ]:
new_df=pd.DataFrame(columns=df.columns)

In [ ]:
new_df.head()

In [ ]:
row_1=row_1.T

In [ ]:
row_1.columns=col_names

In [ ]:
row_1.head()

In [182]:
result = pd.concat([new_df, row_1], ignore_index=True)

In [183]:
result.head()

,id,timestamp,s1,s2,s3,s4,s5,s6,s7,s8,...,s16,s17,s18,s19,s20,s21,s22,s23,s24,s25
0,0,1,0.4337,0.7431,0.9390,0.7541,0.9035,0.7943,0.2622,0.5901,...,0.5696,0.6407,0.7027,0.7163,0.9954,0.8303,0.1641,0.7893,0.7533,0.2925

In [184]:
result=pd.concat([result, df], ignore_index=True)

In [185]:
result.head(11)

,id,timestamp,s1,s2,s3,s4,s5,s6,s7,s8,...,s16,s17,s18,s19,s20,s21,s22,s23,s24,s25
0,0,1,0.4337,0.7431,0.9390,0.7541,0.9035,0.7943,0.2622,0.5901,...,0.5696,0.6407,0.7027,0.7163,0.9954,0.8303,0.1641,0.7893,0.7533,0.2925
1,0,2.0,0.7859,0.1925,0.9024,0.8108,0.2016,0.9649,0.2445,0.8934,...,0.4259,0.7456,0.575,0.7947,0.4663,0.4303,0.3643,0.0558,0.133,0.0295
2,0,3.0,0.0512,0.9633,0.1423,0.8404,0.6654,0.4348,0.5751,0.8067,...,0.4753,0.5449,0.8531,0.6337,0.8807,0.256,0.0597,0.5751,0.7797,0.8544
3,0,4.0,0.0413,0.1588,0.1675,0.0971,0.2918,0.197,0.0971,0.2039,...,0.7959,0.5306,0.3109,0.2726,0.3298,0.4658,0.7479,0.8747,0.2677,0.3816
4,0,5.0,0.7042,0.4724,0.3901,0.2793,0.2522,0.1933,0.2694,0.411,...,0.2474,0.5711,0.5686,0.6575,0.1447,0.5774,0.4022,0.6753,0.8371,0.6748
5,0,6.0,0.9538,0.3029,0.4227,0.7774,0.5194,0.7531,0.4816,0.9918,...,0.2433,0.204,0.1013,0.6044,0.957,0.8958,0.8006,0.5282,0.4132,0.4582
6,0,7.0,0.6729,0.9906,0.8604,0.2969,0.8278,0.484,0.2507,0.0795,...,0.1682,0.7322,0.9347,0.0961,0.2847,0.4782,0.2882,0.4375,0.5795,0.8926
7,0,8.0,0.3945,0.4753,0.642,0.9227,0.8885,0.1002,0.5443,0.8279,...,0.0176,0.2317,0.8063,0.4249,0.7711,0.4558,0.5419,0.4521,0.3392,0.638
8,0,9.0,0.7368,0.8174,0.875,0.123,0.397,0.7676,0.5175,0.8211,...,0.7746,0.0908,0.71,0.7641,0.7748,0.9589,0.7818,0.9553,0.7653,0.1555
9,0,10.0,0.6752,0.1698,0.6974,0.1273,0.509,0.3354,0.8128,0.2753,...,0.7912,0.1517,0.6923,0.7245,0.638,0.0089,0.4479,0.6776,0.7189,0.2121
10,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
result.shape
result.info()

In [186]:
result['state']=0

In [187]:
result.loc[result['timestamp'].isnull(), 'state'] = result['id']

C:\Users\ubhal\AppData\Local\Temp\ipykernel_9444\453649395.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[1 2 3 ... 1 0 1]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.loc[result['timestamp'].isnull(), 'state'] = result['id']

In [ ]:
non_zero_indices = result[result['state'] != 0].index

for index in non_zero_indices:
    start_index = max(0, index - 10)
    end_index = index
    result.loc[start_index:end_index - 1, 'state'] = result.loc[index, 'state']

In [ ]:
result.head(22)

In [ ]:
# result=result.dropna()

In [ ]:
# result.head(22)

In [ ]:
# result.isnull().sum()
# result.shape

In [ ]:
result_flat['state']=0
result_flat.head(10)

In [ ]:
for i in range(9, 50000, 10):
 j=(i+1)/10 
 result_flat['state'][j]=result['id'][j]

In [181]:
result_flat.head(11)

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,state
0,0.4337,0.7431,0.9390,0.7541,0.9035,0.7943,0.2622,0.5901,0.7558,0.2675,...,0.1517,0.6923,0.7245,0.6380,0.0089,0.4479,0.6776,0.7189,0.2121,0
1,0.4013,0.6779,0.9426,0.3566,0.3919,0.0981,0.9805,0.5617,0.7954,0.1078,...,0.4128,0.4043,0.6029,0.9818,0.7710,0.5960,0.9843,0.6970,0.8146,0
2,0.8912,0.4076,0.8245,0.7026,0.7784,0.4193,0.0786,0.0406,0.9235,0.3623,...,0.7939,0.3583,0.2893,0.4324,0.9970,0.2935,0.1482,0.0261,0.5637,0
3,0.4849,0.8162,0.7418,0.1640,0.0961,0.4293,0.2342,0.8210,0.3728,0.2703,...,0.8507,0.2165,0.2635,0.9157,0.2851,0.1902,0.2367,0.9471,0.8961,0
4,0.2426,0.3405,0.9523,0.4741,0.9078,0.7081,0.7006,0.5678,0.4405,0.5183,...,0.0226,0.3803,0.8984,0.9216,0.1483,0.1575,0.0770,0.9685,0.2536,0
5,0.8940,0.7624,0.0523,0.0107,0.8000,0.5953,0.4242,0.4626,0.5010,0.3984,...,0.3033,0.3722,0.6898,0.8064,0.0804,0.1477,0.6498,0.8631,0.7847,0
6,0.6487,0.7998,0.2444,0.5807,0.0921,0.2567,0.2635,0.8436,0.8573,0.2109,...,0.3063,0.4028,0.2270,0.5129,0.4676,0.2421,0.6480,0.8150,0.5038,0
7,0.3983,0.6386,0.9601,0.0522,0.0908,0.8874,0.2367,0.5091,0.6788,0.4927,...,0.7209,0.4208,0.9616,0.0114,0.0764,0.3889,0.3685,0.9753,0.7563,0
8,0.7677,0.7785,0.5903,0.1769,0.8166,0.6739,0.9283,0.9965,0.6701,0.8862,...,0.3872,0.4364,0.3868,0.4304,0.0288,0.1805,0.7642,0.2843,0.0663,0
9,0.9028,0.8775,0.5123,0.0746,0.1430,0.7986,0.0784,0.2497,0.4499,0.1556,...,0.5263,0.3231,0.1484,0.4329,0.9675,0.1572,0.3309,0.0816,0.7319,0
10,0.8147,0.8188,0.9058,0.3807,0.4672,0.5436,0.1798,0.7912,0.3474,0.4448,...,0.5839,0.1082,0.1029,0.5340,0.1814,0.0614,0.4550,0.2000,0.9315,1

In [ ]:
# plt.figure(figsize=(20, 20))
# sns.scatterplot(x=result[result['timestamp']==2]['id'], y=result[result['timestamp']==2]['s1'], hue=result[result['timestamp']==2]['state'], palette=['red', 'green', 'blue', 'orange'])

In [ ]:
# plt.figure(figsize=(5, 5))
# sns.lineplot(result[result['timestamp']==10]['s1'])
# #mean variance plot
# #

In [ ]:
# numeric_columns = ['timestamp', 's1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14', 's15', 's16', 's17', 's18', 's19', 's20', 's21', 's22', 's23', 's24', 's25']
# result[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [ ]:
# X=result.drop(columns=['state', 'id'], axis=1)
# Y=result['state']

In [ ]:
# from sklearn.model_selection import train_test_split
# x_train=X.iloc[:400000]
# x_test=X.iloc[400000:]
# y_train=Y.iloc[:400000]
# y_test=Y.iloc[400000:]

In [ ]:
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
# import xgboost as xgb

# # Initialize and train the model
# model = xgb.XGBClassifier()
# model.fit(x_train, y_train)

# # Make predictions
# y_pred = model.predict(x_test)
# seen_classes = set(y_test.unique())
# y_pred_filtered = [pred if pred in seen_classes else 'Unknown' for pred in y_pred]

# # Evaluate the model
# acc = accuracy_score(y_test, y_pred_filtered)
# print("Accuracy:", acc)