In [158]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [159]:
df=pd.read_csv("train1.csv", index_col=0)
df.head(11)

,id,timestamp,s1,s2,s3,s4,s5,s6,s7,s8,...,s16,s17,s18,s19,s20,s21,s22,s23,s24,s25
0,0,1.0,0.4337,0.7431,0.9390,0.7541,0.9035,0.7943,0.2622,0.5901,...,0.5696,0.6407,0.7027,0.7163,0.9954,0.8303,0.1641,0.7893,0.7533,0.2925
1,0,2.0,0.7859,0.1925,0.9024,0.8108,0.2016,0.9649,0.2445,0.8934,...,0.4259,0.7456,0.5750,0.7947,0.4663,0.4303,0.3643,0.0558,0.1330,0.0295
2,0,3.0,0.0512,0.9633,0.1423,0.8404,0.6654,0.4348,0.5751,0.8067,...,0.4753,0.5449,0.8531,0.6337,0.8807,0.2560,0.0597,0.5751,0.7797,0.8544
3,0,4.0,0.0413,0.1588,0.1675,0.0971,0.2918,0.1970,0.0971,0.2039,...,0.7959,0.5306,0.3109,0.2726,0.3298,0.4658,0.7479,0.8747,0.2677,0.3816
4,0,5.0,0.7042,0.4724,0.3901,0.2793,0.2522,0.1933,0.2694,0.4110,...,0.2474,0.5711,0.5686,0.6575,0.1447,0.5774,0.4022,0.6753,0.8371,0.6748
5,0,6.0,0.9538,0.3029,0.4227,0.7774,0.5194,0.7531,0.4816,0.9918,...,0.2433,0.2040,0.1013,0.6044,0.9570,0.8958,0.8006,0.5282,0.4132,0.4582
6,0,7.0,0.6729,0.9906,0.8604,0.2969,0.8278,0.4840,0.2507,0.0795,...,0.1682,0.7322,0.9347,0.0961,0.2847,0.4782,0.2882,0.4375,0.5795,0.8926
7,0,8.0,0.3945,0.4753,0.6420,0.9227,0.8885,0.1002,0.5443,0.8279,...,0.0176,0.2317,0.8063,0.4249,0.7711,0.4558,0.5419,0.4521,0.3392,0.6380
8,0,9.0,0.7368,0.8174,0.8750,0.1230,0.3970,0.7676,0.5175,0.8211,...,0.7746,0.0908,0.7100,0.7641,0.7748,0.9589,0.7818,0.9553,0.7653,0.1555
9,0,10.0,0.6752,0.1698,0.6974,0.1273,0.5090,0.3354,0.8128,0.2753,...,0.7912,0.1517,0.6923,0.7245,0.6380,0.0089,0.4479,0.6776,0.7189,0.2121
10,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
state_df = pd.DataFrame({'state': df['id'][df['timestamp'].isnull()]})

In [161]:
state_df=state_df.reset_index()

In [162]:
state_df.head()

   index  state
0     10      1
1     21      2
2     32      3
3     43      1
4     54      1

In [163]:
state_df.shape

(50000, 2)

In [164]:
state_df=state_df.drop(columns=['index'])

In [165]:
df_flat=pd.read_csv("flattened.csv", index_col=0)

In [166]:
df_flat.head()

,0,1,2,3,4,5,6,7,8,9,...,240,241,242,243,244,245,246,247,248,249
0,0.4337,0.7431,0.9390,0.7541,0.9035,0.7943,0.2622,0.5901,0.7558,0.2675,...,0.7912,0.1517,0.6923,0.7245,0.6380,0.0089,0.4479,0.6776,0.7189,0.2121
1,0.4013,0.6779,0.9426,0.3566,0.3919,0.0981,0.9805,0.5617,0.7954,0.1078,...,0.7720,0.4128,0.4043,0.6029,0.9818,0.7710,0.5960,0.9843,0.6970,0.8146
2,0.8912,0.4076,0.8245,0.7026,0.7784,0.4193,0.0786,0.0406,0.9235,0.3623,...,0.7925,0.7939,0.3583,0.2893,0.4324,0.9970,0.2935,0.1482,0.0261,0.5637
3,0.4849,0.8162,0.7418,0.1640,0.0961,0.4293,0.2342,0.8210,0.3728,0.2703,...,0.4490,0.8507,0.2165,0.2635,0.9157,0.2851,0.1902,0.2367,0.9471,0.8961
4,0.2426,0.3405,0.9523,0.4741,0.9078,0.7081,0.7006,0.5678,0.4405,0.5183,...,0.5016,0.0226,0.3803,0.8984,0.9216,0.1483,0.1575,0.0770,0.9685,0.2536

In [167]:
df_flat.shape

(50000, 250)

In [168]:
sensor=pd.concat([df_flat, state_df], axis=1)

In [169]:
sensor.head()

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,state
0,0.4337,0.7431,0.9390,0.7541,0.9035,0.7943,0.2622,0.5901,0.7558,0.2675,...,0.1517,0.6923,0.7245,0.6380,0.0089,0.4479,0.6776,0.7189,0.2121,1
1,0.4013,0.6779,0.9426,0.3566,0.3919,0.0981,0.9805,0.5617,0.7954,0.1078,...,0.4128,0.4043,0.6029,0.9818,0.7710,0.5960,0.9843,0.6970,0.8146,2
2,0.8912,0.4076,0.8245,0.7026,0.7784,0.4193,0.0786,0.0406,0.9235,0.3623,...,0.7939,0.3583,0.2893,0.4324,0.9970,0.2935,0.1482,0.0261,0.5637,3
3,0.4849,0.8162,0.7418,0.1640,0.0961,0.4293,0.2342,0.8210,0.3728,0.2703,...,0.8507,0.2165,0.2635,0.9157,0.2851,0.1902,0.2367,0.9471,0.8961,1
4,0.2426,0.3405,0.9523,0.4741,0.9078,0.7081,0.7006,0.5678,0.4405,0.5183,...,0.0226,0.3803,0.8984,0.9216,0.1483,0.1575,0.0770,0.9685,0.2536,1

In [170]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D, Flatten, Dense

In [171]:
X = sensor[sensor.columns[sensor.columns.str.endswith('9')]].values
Y = pd.to_numeric(sensor['state'])

In [172]:
X=np.array(X).reshape(X.shape[0], 25)

In [178]:
X = X.reshape(X.shape[0], X.shape[1], 1, 1)

In [175]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [181]:
model = Sequential([
    Conv2D(32, kernel_size=(3, 3), activation='relu', input_shape=(X_train.shape[0], X_train.shape[1], 1)),
    MaxPooling2D(pool_size=(2, 2)),
    Conv2D(64, kernel_size=(3, 3), activation='relu'),
    MaxPooling2D(pool_size=(2, 2)),
    Flatten(),
    Dense(128, activation='relu'),
    Dense(4, activation='softmax')  # Assuming there are 3 classes (0, 1, 2)
])

In [182]:
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

# Train the model
model.fit(X_train, Y_train, epochs=10, batch_size=32, validation_data=(X_test, Y_test))

# Evaluate the model
test_loss, test_acc = model.evaluate(X_test, Y_test)
print('Test accuracy:', test_acc)

Epoch 1/10

ValueError: Exception encountered when calling Sequential.call().

Invalid input shape for input Tensor("data:0", shape=(32, 25), dtype=float32). Expected shape (None, 40000, 25, 1), but input has incompatible shape (32, 25)

Arguments received by Sequential.call():
  • inputs=tf.Tensor(shape=(32, 25), dtype=float32)
  • training=True
  • mask=None